.advert{
    display: inline-block;
    padding: 50px;
}
.advert ul{
    list-style-type: none;
    display: flex;
    padding-left: 50px;
}
.advert ul li  {
    padding-left: 10px;
    padding: 20px;
}
.card {
   
    
    max-width: 300px;
    text-align: center;
    font-family: arial;
    transition: 1s;
    
    
}
.card:hover{

    max-width: 500px;
}
 
 
 